body {
  padding-left: 1em;
  padding-right: 1em
  font-family: "Times";
  color: #222222;
  background-color: #66c2ff }

h1 {
  font-family: Helvetica, sans-serif, cursive ;}



/* This is the code that does menu! */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
p{
  font-family: Times;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #125f;
  color: black;
}
<p {
  font-family: cursive;
}

/* MY TABLE Stuff */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}



/* Add a card effect for articles */
.card {
   background-color: black;
   padding: 20px;
   margin-top: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
